

<nav class="top-nav px-4">
    <a class="navbar-brand" href="">ProductShowcaseWebsite</a>
    <div class="nav-items">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            Home
        </NavLink>
        <NavLink class="nav-link" href="counter">
            Counter
        </NavLink>
        <NavLink class="nav-link" href="weather">
            Weather
        </NavLink>
    </div>
</nav>

